<!DOCTYPE html>

{% load static %}
<html>
<head>
<title>WeBib</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
a {text-decoration: none}
</style>
</head>
<body>


<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-right w3-padding-16"><a href="#page_connexion" class="btn btn-lg btn-secondary fw-bold border-white bg-white" 
      style="color: #000;font-weight: 500;border: solid;border-color: #2a9e9e;border-radius: 15px; padding: 5px;font-size: 16px;border-width: 2px;">
      Se déconnecter</a></div>
    <h1 class="w3-center w3-padding-16" style="font-weight: 700;"><span style="color: #2a9e9e">We</span>Bib</h1>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="{%static 'Images/livre11.webp'%}" alt="Sandwich" style="width:100%;height:370px">
      <h3>Arden, L'Hiver de la sorcière (Lunes d'encre)</h3>
      <p>Katherine Arden conclut magistralement ici sa "Trilogie d'une nuit d'hiver" consacrée à la Rus' médiévale et à son folklore.</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre2.webp'%}" alt="Steak" style="width:100%;">
      <h3>Sholem Aleykhem, Etoiles vagabondes (Le Tripode)</h3>
      <p>Des livres comme celui-ci on n'en fait plus. Etoiles vagabondes est un roman philosophique, à la façon de Voltaire, Sholem Aleykhem manie les situations ubuesques comme personne.</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre3.webp'%}" alt="Cherries" style="width:100%;height:370px">
      <h3>Brunel, Après nous, les animaux (Casterman)</h3>
      <p>Les derniers humains morts, les animaux doivent réapprivoiser leur état sauvage. Encore imprégnés par leur contact avec les hommes et leur soumission passée, les animaux-héros que nous...</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre4.webp'%}" alt="Pasta and Wine" style="width:100%;height:370px">
      <h3>Boissier, Histoire d'un soulèvement (art&fiction)</h3>
      <p>Solaire, captivant, Histoire d'un soulèvement est à glisser dans votre sac à dos lors d'un périple en haute montagne. (Randonneurs suivez mon regard). </p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="{%static 'Images/livre5.webp'%}" alt="Popsicle" style="width:100%;height:370px">
      <h3>Cathrine, Romance (Robert Laffont)</h3>
      <p>Arnaud Cathrine est tellement juste dans son approche des relations fluides adolescentes ! Romance est un fidèle reflet de notre société, de nos apprentissages.</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre6.webp'%}" alt="Salmon" style="width:100%;height:370px">
      <h3>Del Socorro, La Guerre des trois rois (ActuSF)</h3>
      <p>Avec La Guerre des trois rois, Jean-Laurent del Socorro signe une novella illustrée par Marc Simonetti..</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre7.webp'%}" alt="Sandwich" style="width:100%;height:370px">
      <h3>Gain, Le Sourire du scorpion </h3>
      <p>Patrice Gain nous dépeint avec un talent fou l'âme des hommes comme la couleur de la nature et des paysages qu'il détaille avec minutie...</p>
    </div>
    <div class="w3-quarter">
      <img src="{%static 'Images/livre8.webp'%}" alt="Croissant" style="width:100%;height:370px">
      <h3>Meg Grehan, En apnée (Talents Hauts)</h3>
      <p>En apnée est un magnifique roman, sensible et poétique, sur la découverte des sentiments amoureux et le changement de lecture du monde </p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
  <hr id="about">

  <!-- About Section -->

  <hr>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>WeBib</h3>
      <p>C'est une librairie en ligne qui vous permet de retrouver tous les livres que vous aimés et vous pouvez aussi télécharger en pdf.</p>
      <p>Créé par <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Fatou_S, Sougou, Fatou_M and Ndeye Fatou</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="{%static 'Images/livre.jpg'%}" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">La littérature</span><br>
          <span>Découvrez les personnages phares...</span>
        </li>
        <li class="w3-padding-16">
          <img src="{%static 'Images/mariama.jpeg'%}" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Une Si longue lettre</span><br>
          <span>L'écrivaine Mariama Bâ a été...</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Voyage</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Romantisme</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Vol de Nuit</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Webib</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sénégal</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Abdoulaye Sadji</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Philosophie</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Négritude</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Enfant Noir</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Adolescent</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Humanisme</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Camus</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Oeuvres</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ecrivains</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
